/* Body */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
body {
  font-family: 'IBM Plex Mono', monospace;
  background-image: url('https://github.com/TonkatsuRa/Comlink-Thread/blob/main/SRBG.jpg?raw=true');
  background-size: cover;
  background-color: rgba(34, 34, 34, 0.7);
  color: #fff;
  display: flex;
}

#alias-select {
    padding: 5px;
    color: #FFF;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


/* Sidebar */
.sidebar {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.sidebar h2 {
  margin: 0 0 5px;
  font-size: 1.5rem;
  color: #0ff;
}

input[type="text"],
textarea,
select {
  background-color: rgba(0, 255, 255, 0.1);
  border: 1px solid #FFFF00;
  border-radius: 5px;
  padding: 3px;
  font-size: 1rem;
  color: #fff;
  outline: none;
  width: 100%;
  margin-bottom: 10px;

}
input,textarea,file,select {
    width: 90%;
    color: #FFF; /* HERE */
    option-color: rgba(0, 255, 255, 0.1);
}

input[type="file"] {
  color: #fff;
  margin-bottom: 10px;
}

/* Container */
.comlink-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(0, 255, 255, 0.05); /* Adjust the alpha value (0.05) for transparency */
  border: 1px solid rgba(0, 255, 255, 0.5);
  
  --aug-border: initial;
  --aug-border-all: 5px;
  --aug-border: #FFFF00; /* Color for augmented-ui border */
  --aug-bg: linear-gradient(135deg, rgba(0, 255, 0, 0.01) 30%, rgba(0, 255, 255, 0.3) 100%); 
  --aug-glow: rgba(0, 255, 255, 1); 
  
  --aug-inlay: initial;
  --aug-inlay-all: 4px;
  
  --aug-clip-tl: initial;
  --aug-clip-tr: initial;
  --aug-clip-br: initial;
  --aug-clip-br: initial;
  --aug-clip-b-extend2: 50%;
}

/* Augmented-ui styles */
.comlink-container[data-augmented-ui] {
  border: var(--aug-border) 10px solid;
  background-image: var(--aug-bg) !important;
  box-shadow: 0 0 10px var(--aug-glow) !important;
  backdrop-filter: blur(5px);
}

/* Message */
.message {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.message-box {
  position: relative;
  display: flex;
}

/* Right message box */
.message-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.message-right .timestamp {
  right: 5px;
}

.message-right .message-content .timestamp {
  right: 0;
  left: 0;
  top: 100%;
  position: absolute;
}

.message-right .message-content {
  text-align: right;
}

.message-right .name {
  text-align: right;
  margin-left: auto;
}

.message-right .timestamp {
  left: auto;
  right: 0;
}

.message-right .message-content {
  background-color: rgba(255, 165, 0, 0.2);
}

/* Left message box */
.message-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.message-left .timestamp {
  left: 5px;
}

.message-left .message-content .timestamp {
  right: 0;
  left: 0;
  top: 100%;
  position: absolute;
}

.message-left .message-content {
  background-color: rgba(255, 0, 0, 0.2);
}

/* Profile Picture */
.profile-pic {
  border-radius: 5px;
  object-fit: cover;
  margin-right: 2px;
  border: 2px solid #3FCBFF;
}

.message-content {
  border: 2px solid #0ff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px #0ff;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 250px;
  word-wrap: break-word;
  position: relative;
  padding-bottom: 0.1em;
}

.message-content {
  --aug-border: initial;
  --aug-border-all: 3px;
  --aug-border-color: #0ff;
  --aug-clip-b1: 25px;
  --aug-clip-b2: 50px;
  --aug-b-extend1: 20%;
}

.name {
  color: #FFFF33;
  font-weight: bold;
}

.message-text {
  margin: 0;
}

.timestamp {
  font-size: 0.6rem;
  color: #ccc;
  position: absolute;
  bottom: 5px;
}

.message-info {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
  position: flex;
}

/* Delete Button */
.delete-btn {
  position: absolute;
  top: 5px;
  width: 16px;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.message-left .delete-btn {
  left: 5px;
}

.message-right .delete-btn {
  right: 5px;
}

.message:hover .delete-btn {
  display: block;
}

